.box {
    display:inline-block;
    position:relative;
     float: left;
     width: 30%;
     margin-right: 3.33333%;
     padding: 20px;
     background: #eee;
     box-sizing: border-box;
}

#categories{
display:inline-block;
position:relative;
   float: left;
   width: 30%;
   margin-right: 3.33333%;
   padding: 20px;
   background: #eee;
   box-sizing: border-box;
}

#produkte{
position:absolute;
   float: left;
   width: 30%;
   margin-right: 3.33333%;
   padding: 20px;
   background: #eee;
   box-sizing: border-box;
}
